   body {
       background-color: rebeccapurple;
       font-size: 0.9em;
       color: white;
       position: absolute;
       left: 50%;
       top: 50%;
       transform: translate(-50%, -50%)
   }
   
   h1::after {
       content: '|';
       color: white;
   }